@mixin menu {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: $white;
}
@mixin main-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: $white;
}
@mixin h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: $black;
}
@mixin text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $light-grey;
}
@mixin card-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $black;
}
@mixin card-subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $red;
}
@mixin footer-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $white;
}
