.title {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 23px;
}
.download-discription p {
    text-align: center;
    margin-bottom: 50px;
}
.download {
 text-align: center;
 margin-bottom: 100px;
 font-weight: 900;
 font-size: 24px;
 line-height: 28px;
}
.download-link {
 text-transform: uppercase;
 padding: 10px 50px;
 display: inline-block;
 transition: 0.5s;
 background-color: $pink;
 color: $white;
}
.download-link:hover {
    box-shadow: 0 0 10px 0 #FF4343 inset, 0 0 10px 4px #FF4343;
}